/* Inline style:  background-image: url('img/1.jpg'); background-size: 100% 100%; */
/* Inline style: background-color: hsla(0, 0%, 0%, 0.6) */
/* Inline style: margin: 100px; */
/* Inline style: width: 40px; color: rgb(255, 99, 71); border-width: 5px;  */
/* Inline style: width: 40px; color: rgb(255, 99, 71); border-width: 5px;  */
/* Inline style: background-image: url(img/19.jpg) ;background-size: 100% 100%; */
/* Inline style: width: 40px; color:yellow; border-width: 5px;  */
/* Inline style: font-family:'Times New Roman', Times, serif; */
/* Inline style: margin-top: 80px; */
/* Inline style: max-width: 320px; */
/* Inline style: max-width: 320px; */
/* Inline style: max-width: 320px; */
/* Inline style: max-width: 320px; */
/* Inline style: max-width: 320px; */
/* Inline style: max-width: 320px; */
/* Inline style: padding-bottom: 100px; */
/* Inline style: padding-top: 90px;  */
/* Inline style: padding-bottom: 100px; */
/* Inline style: padding-top: 90px;  */
/* Inline style: padding-bottom: 100px; */
/* Inline style: padding-top: 90px;  */
/* Inline style: background-image: url(img/8.jpg) ;background-size: 100% 100%; margin-top: 30px;  */
/* Inline style: background-color: hsla(0, 0%, 0%, 0.6) */
/* Inline style: padding-top:130px; */
/* Inline style: padding-bottom: 60px; */
/* Inline style: font-family:'Times New Roman', Times, serif; */
/* Inline style: font-family:'Times New Roman', Times, serif; */
/* Inline style: font-family:'Times New Roman', Times, serif; */
/* Inline style: font-family:'Times New Roman', Times, serif; */
/* Inline style: padding-left: 20px; */
/* Inline style: height: 30rem; */
/* Inline style: font-family:'Times New Roman', Times, serif; */
/* Inline style: height: 5px;  */